In [1]:
import pandas as pd

import synthpop.general_synthesizer as gs

#### Specify sample data csv paths. See the files listed here for expected structure. Marginal tables require multi-indexed columns with category name and category value in levels 0 and 1 of the index. Sample file category columns should be labeled with corresponding category names and values in those columns should match the category value headers in the marginal table.

In [2]:
hh_marginal_file = 'input_data/hh_marginals.csv'
person_marginal_file = 'input_data/person_marginals.csv'
hh_sample_file = 'input_data/household_sample.csv'
person_sample_file = 'input_data/person_sample.csv'

#### Load and process input marginals and samples and geography crosswalk

In [3]:
hh_marg, p_marg, hh_sample, p_sample, xwalk = gs.load_data(hh_marginal_file, person_marginal_file, hh_sample_file, person_sample_file)

#### Iterate over all marginals in the geography crosswalk and synthesize in-line

In [4]:
all_households, all_persons, all_stats = gs.synthesize_all_zones(hh_marg, p_marg, hh_sample, p_sample, xwalk)

/Applications/synthpop/synthpop/ipu/ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / (column * weights).sum()

Drawing 254 households
Drawing 306 households
Drawing 356 households
Drawing 390 households
Drawing 601 households
Drawing 324 households
Drawing 556 households
Drawing 342 households
Drawing 273 households
Drawing 228 households
Drawing 857 households
Drawing 748 households
Drawing 744 households
Drawing 953 households
Drawing 719 households
Drawing 185 households
Drawing 183 households
Drawing 286 households
Drawing 317 households
Drawing 711 households
Drawing 345 households

In [7]:
all_households.head()

,serialno,sample_geog,cars,workers,children,income,VEH,FINCP,NOC,WIF,cat_id,geog
1,2009000465330,1,none,none,no,lt35,0,NaN,0,NaN,2,1
2,2010000726700,1,none,none,yes,lt35,0,15300.0,1,0.0,5,1
3,2010000141368,1,none,none,yes,lt35,0,3500.0,1,0.0,5,1
4,2010000262947,1,none,none,yes,lt35,0,0.0,1,0.0,5,1
5,2010000262947,1,none,none,yes,lt35,0,0.0,1,0.0,5,1

#### all_persons.household_id maps person records to all_households.index

In [8]:
all_persons.head()

,serialno,sample_geog,age,race,sex,AGEP,SEX,RAC1P,cat_id,household_id
0,2012000136005,1,20 to 35,white,male,31,1,1,69,94
1,2012000136005,1,35 to 60,white,female,36,2,1,76,94
2,2012000136005,1,19 and under,white,male,10,1,1,61,94
3,2012000136005,1,19 and under,white,male,8,1,1,61,94
4,2012000136005,1,19 and under,white,male,5,1,1,61,94

#### Synthesize all marginal geographies in the crosswalk using a specified or default number of cores via multiprocessing

In [4]:
all_persons, all_households, all_stats = gs.multiprocess_synthesize(hh_marg, p_marg, hh_sample, p_sample, xwalk)

/Applications/synthpop/synthpop/ipu/ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / (column * weights).sum()
/Applications/synthpop/synthpop/ipu/ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / (column * weights).sum()
/Applications/synthpop/synthpop/ipu/ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / (column * weights).sum()
/Applications/synthpop/synthpop/ipu/ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / (column * weights).sum()
/Applications/synthpop/synthpop/ipu/ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / (column * weights).sum()
/Applications/synthpop/synthpop/ipu/ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / (column * weights).sum()
/Applications/synthpop/synthpop/ipu/ipu.py:190: RuntimeWarning: divide by zero encountered in double_scalars
  adj = constraint / (column * weights).sum()

Drawing 390 households
Drawing 306 households
Drawing 254 households
Drawing 601 households
Drawing 356 households
Drawing 324 households
Drawing 556 households
Drawing 273 households
Drawing 342 households
Drawing 228 households
Drawing 748 households
Drawing 857 households
Drawing 744 households
Drawing 953 households
Drawing 719 households
Drawing 183 households
Drawing 185 households
Drawing 317 households
Drawing 286 households
Drawing 711 households
Drawing 345 households

In [5]:
all_persons.head()

,serialno,sample_geog,age,race,sex,AGEP,SEX,RAC1P,cat_id,geog,household_id
0,2012000807300,1,20 to 35,white,male,32,1,1,69,1,201
1,2012000807300,1,20 to 35,white,female,31,2,1,68,1,201
2,2012000807300,1,19 and under,white,male,5,1,1,61,1,201
3,2012001145110,1,20 to 35,white,male,32,1,1,69,1,199
4,2012001145110,1,20 to 35,white,female,29,2,1,68,1,199

In [6]:
all_households.head()

,serialno,sample_geog,cars,workers,children,income,VEH,FINCP,NOC,WIF,cat_id,geog
household_id,,,,,,,,,,,,
1,2011000329968,1,none,none,no,lt35,0,NaN,0,NaN,2,1
2,2012001476110,1,none,none,yes,lt35,0,3100.0,3,0.0,5,1
3,2009000455972,1,none,none,yes,lt35,0,3500.0,2,0.0,5,1
4,2010000136520,1,none,none,yes,lt35,0,8340.0,2,0.0,5,1
5,2010000262947,1,none,none,yes,lt35,0,0.0,1,0.0,5,1

In [7]:
all_stats.head()

   chi-square  geog        p-score
0    4.930438     1   9.867574e-01
1  157.742799     2   9.574513e-31
2  178.994862     3   2.720900e-31
3   93.914785     4   6.877896e-14
4  499.267894     5  1.151837e-103