In [1]:
import pandas as pd
import numpy as np
import os
import sys

from synthpop.recipes.starter2 import Starter
from synthpop.census_helpers import Census

# Synthesis flow

DIAGRAM 0 HERE: synthesize all

## 1. What does it mean to synthesize?

DEFINITION HERE: ESTO ES LO QUE VAMOS A ANALIZAR, PERO QUE SIGNIFICA? REPRESENTA ALGO EN PARTICULAR? COMO SE INTERPRETA ESTA TABLA?

**Here we have a list of synthesized counties for hh and p from the 02 (AK) state**

In [2]:
ls 02/

02_198.pdf           hh_02_188_2013.csv*  p_02_110_2013.csv*
02_261.pdf           hh_02_195_2013.csv*  p_02_122_2013.csv*
02_290.pdf           hh_02_198_2013.csv*  p_02_130_2013.csv*
hh_02_013_2013.csv*  hh_02_220_2013.csv*  p_02_150_2013.csv*
hh_02_016_2013.csv*  hh_02_230_2013.csv*  p_02_164_2013.csv*
hh_02_020_2013.csv*  hh_02_240_2013.csv*  p_02_170_2013.csv*
hh_02_050_2013.csv*  hh_02_261_2013.csv*  p_02_180_2013.csv*
hh_02_060_2013.csv*  hh_02_270_2013.csv*  p_02_185_2013.csv*
hh_02_068_2013.csv*  hh_02_275_2013.csv*  p_02_188_2013.csv*
hh_02_070_2013.csv*  hh_02_282_2013.csv*  p_02_195_2013.csv*
hh_02_090_2013.csv*  hh_02_290_2013.csv*  p_02_198_2013.csv*
hh_02_100_2013.csv*  p_02_013_2013.csv*   p_02_220_2013.csv*
hh_02_105_2013.csv*  p_02_016_2013.csv*   p_02_230_2013.csv*
hh_02_110_2013.csv*  p_02_020_2013.csv*   p_02_240_2013.csv*
hh_02_122_2013.csv*  p_02_050_2013.csv*   p_02_261_2013.csv*
hh_02_130_2013.csv*  p_02_060_2013.csv*   p_02_270_2013.csv*
hh_02_150_2013.csv*  p_02_068_2013.csv*   p_02_275_2013.csv*
hh_02_164_2013.csv*  p_02_070_2013.csv*   p_02_282_2013.csv*
hh_02_170_2013.csv*  p_02_090_2013.csv*   p_02_290_2013.csv*
hh_02_180_2013.csv*  p_02_100_2013.csv*
hh_02_185_2013.csv*  p_02_105_2013.csv*

In [3]:
# These files looks like...
hh = pd.read_csv('02/hh_02_290_2013.csv')
p = pd.read_csv('02/p_02_290_2013.csv')

In [4]:
hh.head(3)

,Unnamed: 0,serialno,RT,puma00,puma10,NP,TYPE,BLD,TEN,VEH,...,hh_size,hh_workers,seniors,sf_detached,tenure_mover,cat_id,state,county,tract,block group
0,0,2010000910239,H,400,-9,1,1,2.0,1.0,0.0,...,one,one,no,yes,own not recent,3972,2,290,100,1
1,1,2010000165017,H,400,-9,1,1,2.0,1.0,0.0,...,one,one,no,yes,own not recent,3972,2,290,100,1
2,2,2012001118337,H,-9,400,2,1,2.0,2.0,0.0,...,two,one,no,yes,own not recent,4164,2,290,100,1

In [5]:
p.head(3)

,Unnamed: 0,serialno,SPORDER,puma00,puma10,AGEP,JWTR,RELP,SCH,SCHL,...,ESR,HISP,PERNP,RAC1P,hispanic,person_age,person_sex,race,cat_id,hh_id
0,0,2012000016443,1,-9,400,45,1.0,0,1.0,19.0,...,1.0,1,43200.0,4,no,35 to 60,male,other,138262,112
1,1,2012000016443,2,-9,400,45,NaN,1,1.0,21.0,...,6.0,1,0.0,4,no,35 to 60,female,other,138258,112
2,2,2012000016443,4,-9,400,11,NaN,2,2.0,7.0,...,NaN,1,NaN,4,no,19 and under,female,other,138242,112

## 2. What does these tables represent?

## Starter

### Creating `marginals` and `joint distributions` for households and persons

![Starter](img/Starter.png)

### 2.1. The `acs5` subject table

In [6]:
# census api key
key = os.environ['CENSUS']

# AK state
state = '02'

# 290 county (Yukon-Koyukuk)
county = '290'

In [7]:
# creates starter object
starter = Starter(key, state, county, acsyear=2013)

In [8]:
# what do we get from starter class?
print([m for m in dir(starter) if not m.startswith('__')])

['acsyear', 'c', 'county', 'get_available_geography_ids', 'get_geography_name', 'get_household_joint_dist_for_geography', 'get_household_marginal_for_geography', 'get_num_geographies', 'get_person_joint_dist_for_geography', 'get_person_marginal_for_geography', 'h_acs', 'h_acs_cat', 'h_pums_cols', 'p_acs', 'p_acs_cat', 'p_pums_cols', 'state', 'tract']

This contains a bunch of methods and variables for a synthesized:

In [9]:
# ...state and county pair
starter.state, starter.county

('02', '290')

##### The `Census` object and his methods:  Tract and Block group acs subject tables

![acs](img/subject_table.png)

As it is shown in the diagram, a first step that occurs when we create the `starter` object is that methods from `Census` constructor are also instantiated. This gives us back some relevant information. First, the `acs` 5 years [estimates tables](https://www.census.gov/data/developers/data-sets/acs-5year.html) by different geographies:

In [10]:
starter.h_acs.head(2)

,NAME,B19001_001E,B19001_002E,B19001_003E,B19001_004E,B19001_005E,B19001_006E,B19001_007E,B19001_008E,B19001_009E,...,B08201_002E,B08201_003E,B08201_004E,B08201_005E,B08201_006E,B08202_001E,B08202_002E,B08202_003E,B08202_004E,B08202_005E
0,"Block Group 1, Census Tract 1, Yukon-Koyukuk C...",187,52,13,20,11,20,12,1,18,...,119,40,16,3,7,187,89,74,21,2
1,"Block Group 2, Census Tract 1, Yukon-Koyukuk C...",336,68,19,42,20,11,27,8,9,...,214,71,30,5,13,336,160,133,37,3

In [11]:
# when we instantiate the Starter class to create starter object we are also creating a census object
c = Census(key, acsyear=2013)

In [12]:
starter.c

In [13]:
c

In [14]:
# that has his own methods 
print([ m for m in dir(c) if not m.startswith('__')])

['_get_fips_lookup', '_get_pums_relationship', '_query', '_read_csv', '_scale_and_merge', 'acsyear_files', 'base_url', 'block_group_and_tract_query', 'block_group_query', 'c', 'download_household_pums', 'download_population_pums', 'fips_df', 'fips_url', 'pums00_household_base_url', 'pums00_population_base_url', 'pums10_household_base_url', 'pums10_population_base_url', 'pums_cache', 'pums_household_state_base_url', 'pums_population_state_base_url', 'pums_relationship_df', 'pums_relationship_file_url', 'tract_query', 'tract_to_puma', 'try_fips_lookup']

##### Articulating `Census` and  `Starter` methods

As we said, a first thing that takes place when creating `starter` is the generation of `block groups` and `tracts` tables for a group of variables.

In [15]:
# we create and merge both tables with:
c.block_group_and_tract_query

In the above diagram it is shown that, inside the `Starter` class some methods from census object `c` are called. But something else to be pointed out here is that, this last one `c` is also calling other methods from `census` module. 

We are interested in the `acs5` method - which is inside the core.py module imported from `import census` module -. Let's check it:

In [16]:
# imported methods from census module
print([ m for m in dir(c.c) if not m.startswith('__')])

['ALL', '_acs', 'acs', 'acs1', 'acs1dp', 'acs3', 'acs3dp', 'acs5', 'acs5dp', 'session', 'sf1', 'sf3']

Now, we will define some arbitrary household variables at block group and tract levels to consume `acs5` subject tables.

In [17]:
# block group
presence_of_children_columns = ['B11005_001E', 'B11005_002E', 'B11005_011E']
block_group_size_attr=['B11005_001E'] # this is the total within the block group

# census tract
vehicle_columns = ['B08201_0%02dE' % i for i in range(1, 7)]
tract_size_attr=['B08201_001E'] # this is the total within the tract

In [18]:
tr = c.c.acs5.get(['NAME'] + presence_of_children_columns,
                 geo={'for': "tract:*",
                      'in': 'state: 02 county: 290'}, year=2013)

In [19]:
pd.DataFrame(tr)

,NAME,B11005_001E,B11005_002E,B11005_011E,state,county,tract
0,"Census Tract 1, Yukon-Koyukuk Census Area, Alaska",523.0,140.0,383.0,02,290,000100
1,"Census Tract 2, Yukon-Koyukuk Census Area, Alaska",549.0,155.0,394.0,02,290,000200
2,"Census Tract 3, Yukon-Koyukuk Census Area, Alaska",612.0,251.0,361.0,02,290,000300
3,"Census Tract 4, Yukon-Koyukuk Census Area, Alaska",372.0,151.0,221.0,02,290,000400

In [20]:
bg = c.c.acs5.get(['NAME'] + presence_of_children_columns,
                  geo={'for': "block group:*",
                       'in': 'state: 02 county: 290'}, year=2013)

In [21]:
pd.DataFrame(bg)

,NAME,B11005_001E,B11005_002E,B11005_011E,state,county,tract,block group
0,"Block Group 1, Census Tract 1, Yukon-Koyukuk C...",187.0,58.0,129.0,02,290,000100,1
1,"Block Group 2, Census Tract 1, Yukon-Koyukuk C...",336.0,82.0,254.0,02,290,000100,2
2,"Block Group 1, Census Tract 2, Yukon-Koyukuk C...",208.0,57.0,151.0,02,290,000200,1
3,"Block Group 2, Census Tract 2, Yukon-Koyukuk C...",341.0,98.0,243.0,02,290,000200,2
4,"Block Group 1, Census Tract 3, Yukon-Koyukuk C...",234.0,108.0,126.0,02,290,000300,1
5,"Block Group 2, Census Tract 3, Yukon-Koyukuk C...",190.0,76.0,114.0,02,290,000300,2
6,"Block Group 3, Census Tract 3, Yukon-Koyukuk C...",188.0,67.0,121.0,02,290,000300,3
7,"Block Group 1, Census Tract 4, Yukon-Koyukuk C...",180.0,82.0,98.0,02,290,000400,1
8,"Block Group 2, Census Tract 4, Yukon-Koyukuk C...",192.0,69.0,123.0,02,290,000400,2

Both tables are merged at the highest disaggregation level (block group). To do it `scale and merge` Census method scales down from tract to block group level as it is shown below:

In [22]:
# tract variables
starter.h_acs[['NAME']+vehicle_columns]

,NAME,B08201_001E,B08201_002E,B08201_003E,B08201_004E,B08201_005E,B08201_006E
0,"Block Group 1, Census Tract 1, Yukon-Koyukuk C...",187,119,40,16,3,7
1,"Block Group 2, Census Tract 1, Yukon-Koyukuk C...",336,214,71,30,5,13
2,"Block Group 1, Census Tract 2, Yukon-Koyukuk C...",208,51,73,50,21,11
3,"Block Group 2, Census Tract 2, Yukon-Koyukuk C...",341,83,120,83,34,18
4,"Block Group 1, Census Tract 3, Yukon-Koyukuk C...",234,127,58,35,8,4
5,"Block Group 2, Census Tract 3, Yukon-Koyukuk C...",190,103,47,28,7,3
6,"Block Group 3, Census Tract 3, Yukon-Koyukuk C...",188,102,46,28,7,3
7,"Block Group 1, Census Tract 4, Yukon-Koyukuk C...",180,91,46,32,5,2
8,"Block Group 2, Census Tract 4, Yukon-Koyukuk C...",192,98,50,35,5,3

Finally, we build the `acs` table for block group and tracts levels - this process is repeated for persons too, here we only demo households subject tables-.

In [23]:
# the None tract value correspond to all the tracts
h_acs = c.block_group_and_tract_query(block_group_columns=presence_of_children_columns,
                                       tract_columns=vehicle_columns, 
                                       state='02', county='290',
                                       merge_columns=['tract', 'county', 'state'],
                                       block_group_size_attr="B11005_001E",
                                       tract_size_attr="B08201_001E",
                                       tract=None, year=2013)

In [24]:
h_acs.head(2)

,NAME,B11005_001E,B11005_002E,B11005_011E,state,county,tract,block group,B08201_001E,B08201_002E,B08201_003E,B08201_004E,B08201_005E,B08201_006E
0,"Block Group 1, Census Tract 1, Yukon-Koyukuk C...",187,58,129,02,290,000100,1,187,119,40,16,3,7
1,"Block Group 2, Census Tract 1, Yukon-Koyukuk C...",336,82,254,02,290,000100,2,336,214,71,30,5,13

### 2.2. `Categorize` subject tables

Once we get the subject data for [households](https://github.com/UDST/synthpop/blob/0bc36f8fef036913b416e0d4eb8a3fda79fc70ad/synthpop/recipes/starter2.py#L52-L68) and [persons](https://github.com/UDST/synthpop/blob/0bc36f8fef036913b416e0d4eb8a3fda79fc70ad/synthpop/recipes/starter2.py#L131-L139) variables, the `acs` dataset is categorized by:

In [25]:
from synthpop import categorizer as cat

In [26]:
cat.categorize

This give us back a multindexed table with new names:

In [27]:
h_acs_cat = cat.categorize(h_acs, {("hh_children", "yes"): "B11005_002E",
                                   ("hh_children", "no"): "B11005_011E",
                                   ("hh_cars", "none"): "B08201_002E",
                                   ("hh_cars", "one"): "B08201_003E",
                                   ("hh_cars", "two or more"):
                                        "B08201_004E + B08201_005E + B08201_006E"},
                           index_cols=['state', 'county', 'tract', 'block group'])

In [28]:
h_acs_cat

cat_name                        hh_cars                  hh_children
cat_value                          none  one two or more          no  yes
state county tract  block group
02    290    000100 1               119   40          26         129   58
                    2               214   71          48         254   82
             000200 1                51   73          82         151   57
                    2                83  120         135         243   98
             000300 1               127   58          47         126  108
                    2               103   47          38         114   76
                    3               102   46          38         121   67
             000400 1                91   46          39          98   82
                    2                98   50          43         123   69

... that can also be obtained by calling it from the `starter` object:

In [29]:
# here the entire table built in starter2
starter.h_acs_cat

cat_name                        hh_age_of_head           hh_cars       \
cat_value                            gt35-lt65 gt65 lt35    none  one
state county tract  block group
02    290    000100 1                      122   25   40     119   40
                    2                      210   77   49     214   71
             000200 1                      123   67   18      51   73
                    2                      229   76   36      83  120
             000300 1                      146   43   45     127   58
                    2                      121   44   25     103   47
                    3                      112   37   39     102   46
             000400 1                       92   49   39      91   46
                    2                      108   46   38      98   50

cat_name                                    hh_children        hh_income  \
cat_value                       two or more          no  yes gt100-lt150
state county tract  block group
02    290    000100 1                    26         129   58           6
                    2                    48         254   82          33
             000200 1                    82         151   57           8
                    2                   135         243   98          59
             000300 1                    47         126  108           9
                    2                    38         114   76          41
                    3                    38         121   67           8
             000400 1                    39          98   82           3
                    2                    43         123   69          16

cat_name                               ... hispanic_head     seniors      \
cat_value                       gt150  ...            no yes      no yes
state county tract  block group        ...
02    290    000100 1               0  ...           187   0     162  25
                    2              15  ...           331   5     259  77
             000200 1               2  ...           204   4     138  70
                    2              25  ...           339   2     254  87
             000300 1               1  ...           234   0     184  50
                    2              16  ...           188   2     143  47
                    3               0  ...           188   0     147  41
             000400 1               7  ...           180   0     131  49
                    2               6  ...           188   4     144  48

cat_name                        sf_detached        tenure_mover             \
cat_value                                no  yes own not recent own recent
state county tract  block group
02    290    000100 1                     0  187            135          9
                    2                    20  316            222         10
             000200 1                    15  193            147          4
                    2                    44  297            240         11
             000300 1                     1  233            150          9
                    2                     6  184            129         13
                    3                     4  184            135          2
             000400 1                     0  180            121          6
                    2                     7  185             97          8

cat_name
cat_value                       rent not recent rent recent
state county tract  block group
02    290    000100 1                        31          12
                    2                        46          58
             000200 1                        45          12
                    2                        69          21
             000300 1                        47          28
                    2                        29          19
                    3                        33          18
             000400 1                        42          11
                    2                        69          18

[9 rows x 34 columns]

### 2.3. Geography relations for joint distributions

![pums](img/download_pums.png)

As we can see in the diagram, one important method from `Census` constructor is the:

In [30]:
c.tract_to_puma

... which returns the correspondant puma id for a given tract:

In [31]:
for tract in ['000100','000200','000300','000400']:
    print('puma10 id for tract {} : {}'.format(tract, c.tract_to_puma(state, county, tract)[0]))
    print('puma00 id for tract {} : {}'.format(tract, c.tract_to_puma(state, county, tract)[1]))
    puma10, puma00 = c.tract_to_puma(state, county, tract)

puma10 id for tract 000100 : 00400
puma00 id for tract 000100 : 00400
puma10 id for tract 000200 : 00400
puma00 id for tract 000200 : 00400
puma10 id for tract 000300 : 00400
puma00 id for tract 000300 : 00400
puma10 id for tract 000400 : 00400
puma00 id for tract 000400 : 00400

This information will be mainly used to download `pums` from `aws` or `gcs` (depending on the acs requested year).

##### What we call slices?: the `PUMA` geographies

![pums_rel](img/pums_tracts.png)

PUMS stands for Public Use Microdata Sample. These are individual records of survey responses with identifying
information removed.These files do not include every record of every person who responded to the ACS. Only a select few that in turn, are representative of the population. 

The ACS samples 3.5 million addresses per year. The 1-year ACS PUMS file contains about 1% of all of the US households. The 5-year ACS PUMS file is the equivalent of five 1-year files, so it includes about 5% of all of the US households.

By contrast, in aggregated tables or summary data, the individual records are categorized and weighted to create an estimate for the larger population. These estimates contains a Margin of Error (which is, to put it into simple words, the percentage of times we do not hit a target population type when we randomly select cases: e.g. 5%, etc. ).

This means that, since `PUMS` microdata provides a sample of the ACS records it is necessary to create an estimate of how many persons/households the raw records represent.  This microdata has no geographies smaller than what we call `PUMAs`.

PUMA is an area where the population of over 100,000 in â€“ population of over 100,000, large enough to meet the disclosure avoidance requirements. It is identified by a five-digit code that is unique within each estate, and they nest within state or state equivalence.

PUMAs are redefined after each Decennial Census. It is important to mention that PUMAs redefined after the 2010 Census were first used in 2012 ACS PUMS files. Multi-year files contain dual PUMAs vintages, for example, the 2010 to 2014 ACS PUMS files. PUMAs are built on Census Tracks and Counties, and can be combined to create rough approximations of towns, counties or cities for analysis.

In [32]:
# PUMS variables
h_pums_cols = ('serialno', 'PUMA00','PUMA10', 'RT', 'NP', 'TYPE',
               'R65', 'HINCP', 'VEH', 'MV', 'TEN', 'BLD', 'R18')

In [33]:
h_pums = c.download_household_pums(state, puma10, puma00, usecols=h_pums_cols)

Downloading households pums from https://s3-us-west-1.amazonaws.com/synthpop-data2/
Reading PUMS00 from https://s3-us-west-1.amazonaws.com/synthpop-data2/

In [34]:
h_pums

,serialno,RT,puma00,puma10,NP,TYPE,BLD,TEN,VEH,HINCP,MV,R18,R65
0,2012000000643,H,-9,400,2,1,2.0,3.0,0.0,33360.0,1.0,0.0,0.0
2,2012000001889,H,-9,400,4,1,2.0,2.0,0.0,89420.0,7.0,0.0,2.0
3,2012000003083,H,-9,400,1,1,2.0,2.0,0.0,20800.0,7.0,0.0,0.0
4,2012000004753,H,-9,400,7,1,2.0,2.0,0.0,26300.0,6.0,1.0,0.0
5,2012000005450,H,-9,400,3,1,3.0,3.0,1.0,65300.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5857,2011001481195,H,400,-9,6,1,2.0,3.0,1.0,165600.0,7.0,1.0,1.0
5858,2011001486432,H,400,-9,5,1,2.0,2.0,0.0,23900.0,5.0,1.0,0.0
5862,2011001495660,H,400,-9,3,1,2.0,2.0,2.0,29500.0,7.0,0.0,2.0
5865,2011001496296,H,400,-9,1,1,2.0,4.0,0.0,900.0,7.0,0.0,0.0
5868,2011001498413,H,400,-9,4,1,2.0,3.0,1.0,19600.0,2.0,1.0,0.0

##### Using `PUMS` files

Joint distributions represents a total value for acs queried table. Since this last dataset contains aggregated data for tracts and block groups levels, and given that the PUMS are a representative sample of individual records - each serial number corresponds to a unique answer -, both tables will be used to build target values to be joined during the synthesis.

In [35]:
cat.joint_distribution

First, we build a dataframe with the target categories that we obtained querying the `acs subject table`. This, by calling the `category_combinations` method from the categorizer that will return all possible combinations:

In [36]:
cat.category_combinations(h_acs_cat.columns)

                         cat_id
hh_cars     hh_children
none        no                0
            yes               1
one         no                2
            yes               3
two or more no                4
            yes               5

With this, the `joint_distribution` method will return a sample and categories dataframes. This by following next steps:

In [37]:
# mapping functions to return values depending on slices dataframes
def cars_cat(r):
    if r.VEH == 0:
        return "none"
    elif r.VEH == 1:
        return "one"
    return "two or more"

def children_cat(r):
    if r.R18 == 1:
        return "yes"
    return "no"

In [38]:
h_pums, jd_households = cat.joint_distribution(h_pums,
                                                cat.category_combinations(h_acs_cat.columns),
                                                {"hh_cars": cars_cat,
                                                 "hh_children": children_cat,
                                                 })

- **1. Categories dataframe**

This cointains the amount of cases (or frequencies) for each category combination within the PUMA geography. It is important to remark that this totals corresponds to all the tracts we passed to the `tract to puma` function. Given that PUMS returns individual answers for a bunch of variables, we can combine them based on acs subject table columns and get the totals of each combination for a group tracts. This will return a total value for a group of tracts (or PUMA). PUMAs are unique whitin a state.

In [39]:
jd_households

                         cat_id  frequency
hh_cars     hh_children
none        no                0        843
            yes               1        919
one         no                2        573
            yes               3        431
two or more no                4        491
            yes               5        368

- **2. Sample dataframe**

This is the microdata puma df we downloaded for tracts 100 to 400, with a new `cat_id` combination column:

In [40]:
h_pums

,serialno,RT,puma00,puma10,NP,TYPE,BLD,TEN,VEH,HINCP,MV,R18,R65,hh_cars,hh_children,cat_id
0,2012000000643,H,-9,400,2,1,2.0,3.0,0.0,33360.0,1.0,0.0,0.0,none,no,0
2,2012000001889,H,-9,400,4,1,2.0,2.0,0.0,89420.0,7.0,0.0,2.0,none,no,0
3,2012000003083,H,-9,400,1,1,2.0,2.0,0.0,20800.0,7.0,0.0,0.0,none,no,0
15,2012000017291,H,-9,400,4,1,2.0,2.0,0.0,54800.0,5.0,0.0,0.0,none,no,0
31,2012000041419,H,-9,400,2,1,2.0,2.0,0.0,33300.0,7.0,0.0,1.0,none,no,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5762,2011001370081,H,400,-9,1,1,2.0,2.0,6.0,300300.0,5.0,0.0,0.0,two or more,no,4
5771,2011001380825,H,400,-9,2,1,2.0,4.0,2.0,173600.0,1.0,0.0,0.0,two or more,no,4
5835,2011001457691,H,400,-9,2,1,1.0,3.0,2.0,97400.0,3.0,0.0,0.0,two or more,no,4
5843,2011001464975,H,400,-9,4,1,2.0,1.0,2.0,8650.0,5.0,0.0,0.0,two or more,no,4
5862,2011001495660,H,400,-9,3,1,2.0,2.0,2.0,29500.0,7.0,0.0,2.0,two or more,no,4

**Until this point, we...**:
1. Queried the `acs5` subject table to get persons and households variables at block group and tracts levels
2. Downloaded sample files (PUMS) containing the same variables with different standard names.
3. Matched the tracts of the `county`, `state` pair with a puma id.
4. Built combination of variables at puma level - or all the tracts that are cointained inside a puma id (e.g. households with no children and no cars)

### 2.4. Marginals, the block group level

Marginals are called from the `starter` object inside the `synthesize_all` function and returns...

In [41]:
#...for a group of available geographies inside a county/state pair
list(starter.get_available_geography_ids())[0]

state              02
county            290
tract          000100
block group         1
dtype: object

In [42]:
indexes = starter.get_available_geography_ids()

In [43]:
for geog_id in indexes:
    h_marg = starter.get_household_marginal_for_geography(geog_id)

***...the total value of a given variable for the block group geography levels:***

In [44]:
# This is the marginal table we stored for the last census tract (400)
h_marg

cat_name         cat_value
hh_age_of_head   gt35-lt65          108
                 gt65                46
                 lt35                38
hh_cars          none                98
                 one                 50
                 two or more         43
hh_children      no                 123
                 yes                 69
hh_income        gt100-lt150         16
                 gt150                6
                 gt30-lt60           32
                 gt60-lt100          81
                 lt30                57
hh_race_of_head  asian                0
                 black                2
                 other              108
                 white               82
hh_size          four or more        36
                 one                 61
                 three               44
                 two                 51
hh_workers       none                69
                 one                 77
                 two or more         45
hispanic_head    no                 188
                 yes                  4
seniors          no                 144
                 yes                 48
sf_detached      no                   7
                 yes                185
tenure_mover     own not recent      97
                 own recent           8
                 rent not recent     69
                 rent recent         18
Name: (02, 290, 000400, 2), dtype: int64

For example, in our acs5 categorized table, in the block group 1 of the 000400 tract (we only stored the last geography since we ran a for loop) there are 82 households with childs and 46 with one car.

In [45]:
# can check these totals in our acs subject table...
h_acs_cat

cat_name                        hh_cars                  hh_children
cat_value                          none  one two or more          no  yes
state county tract  block group
02    290    000100 1               119   40          26         129   58
                    2               214   71          48         254   82
             000200 1                51   73          82         151   57
                    2                83  120         135         243   98
             000300 1               127   58          47         126  108
                    2               103   47          38         114   76
                    3               102   46          38         121   67
             000400 1                91   46          39          98   82
                    2                98   50          43         123   69

In [46]:
# store the marginal values from the block group 1 of the 000400 census tract
hh_marginals_tract_400_block_gp_1 = h_acs_cat.loc[tuple(list(starter.get_available_geography_ids())[7])]

In [47]:
hh_marginals_tract_400_block_gp_1

cat_name     cat_value
hh_cars      none           91
             one            46
             two or more    39
hh_children  no             98
             yes            82
Name: (02, 290, 000400, 1), dtype: int64

## 3. Sinthesize all: using `Starter` outputs

### 3.1 The iterative proportional fitting (IPF) procedure

![constraints](img/constraints.png)

In [48]:
from synthpop.ipf.ipf import calculate_constraints

In [49]:
h_constraint, _ = calculate_constraints(hh_marginals_tract_400_block_gp_1, jd_households.frequency)

In [50]:
# this is our contraints table
h_constraint

hh_cars      hh_children
none         no             46.529753
             yes            46.538428
one          no             27.835805
             yes            19.209650
two or more  no             23.634442
             yes            16.251921
dtype: float64

In [51]:
# this is the number of iterations performed to achieve the constraint values
_

4

In the block group 1 of the census tract 400 we used to have 91 households with no cars, 46 with one car and 39 with two or more:

In [52]:
bg_targets = hh_marginals_tract_400_block_gp_1[:3]

In [53]:
bg_targets

cat_name  cat_value
hh_cars   none           91
          one            46
          two or more    39
Name: (02, 290, 000400, 1), dtype: int64

At the same time, our `joint_distributions` table gave us the total of that variable for the entire PUMA (in this case, `843 households with no children + 919 households with one children = 1762 households with no cars`:

In [54]:
jd_households[:2]

                     cat_id  frequency
hh_cars hh_children
none    no                0        843
        yes               1        919

In [55]:
jd_households['frequency'][:2].sum()

1762

With this information, we will build new target values for each category total within the block group by multiplying the target and the proportion that this target represents in the entire PUMA - remember here, that our joint distribution table gets this total by combining different variables. In our case number of cars and children -

`new_target = current_target * (proportion of the current target)`

In [56]:
sub_category_idx_0 = 0
sub_category_idx_1 = 2

for target in range(len(bg_targets)):
    total_cat = jd_households.frequency[sub_category_idx_0:sub_category_idx_1].sum()
    sub_category_idx_0 += 2
    sub_category_idx_1 += 2
    print('Block group target value: %s'%str(bg_targets[target]))
    print('Total value of the combined category is: %s'%str(total_cat))
    print('Proportion of each category in the combined variables total: %s'%str(bg_targets[target] / total_cat))
    print('New Block group target value: %s'%str(bg_targets[target]*(bg_targets[target] / total_cat)))
    print('*********************************************************************************')

Block group target value: 91
Total value of the combined category is: 1762
Proportion of each category in the combined variables total: 0.051645856980703744
New Block group target value: 4.69977298524404
*********************************************************************************
Block group target value: 46
Total value of the combined category is: 1004
Proportion of each category in the combined variables total: 0.045816733067729085
New Block group target value: 2.1075697211155378
*********************************************************************************
Block group target value: 39
Total value of the combined category is: 859
Proportion of each category in the combined variables total: 0.04540162980209546
New Block group target value: 1.7706635622817228
*********************************************************************************

These new values that were built based on the proportion that each block group represents in the PUMA (for every category value) will be used to update our joint distributions table:

In [57]:
jd_households.values

array([[  0, 843],
       [  1, 919],
       [  2, 573],
       [  3, 431],
       [  4, 491],
       [  5, 368]])

...the totals we had for each `category combination`: 0; 1; 2; 3; 4 & 5 will be replaced using that proportion. This way we will define a new maximum value for every category within the block group.

Imagine we have a constraints table with categories from 0 to 2 (has no car and no children, has no car but children and has one car and no children) as we shown in the example above. We will need to:

In [58]:
current_constraints = jd_households[:3].values.copy()

In [59]:
# 1. define new targets based on proportions
new_targets = [4.69977298524404, 2.1075697211155378, 1.7706635622817228]

next_constraints = current_constraints.astype(float)

In [60]:
# 2. update the constraints table
fre = -1
for t in new_targets:
    fre +=1 
    next_constraints[fre][1] = t

In [61]:
next_constraints

array([[0.        , 4.69977299],
       [1.        , 2.10756972],
       [2.        , 1.77066356]])

These values will be updated inside an iterative process, where previous and next constraints will be evaluated under a maximum of `tolerance`:

In [62]:
tolerance = 1e-3

In [63]:
np.abs(current_constraints, next_constraints).sum()

2338.0

In [64]:
if np.abs(current_constraints, next_constraints).sum()>tolerance:
    print('Recalculate constraints table')

Recalculate constraints table

This way, the iteration will continue until reaching a group of new target values under the tolerance defined before. The man result of this process will be...

In [65]:
# ... our marginals table with total values for the block group
hh_marginals_tract_400_block_gp_1

cat_name     cat_value
hh_cars      none           91
             one            46
             two or more    39
hh_children  no             98
             yes            82
Name: (02, 290, 000400, 1), dtype: int64

In [66]:
# updated with new totals.
h_constraint

hh_cars      hh_children
none         no             46.529753
             yes            46.538428
one          no             27.835805
             yes            19.209650
two or more  no             23.634442
             yes            16.251921
dtype: float64

Consuming the Census API we built a dataset with, for example, 91 aggregated cases for households with no car. Building the constraints table, we used PUMA geographies to determine the proportion that these 91 cases represents in a more dissaggregated level. With this estimation we determine that instead of 91, the block group 1 of the census tract 00400 from the Yukon-Koyukuk county in the Alaska state has 46.5 households with no car.

### 3.2. The iterative proportional updating (IPU) procedure

In [106]:
from synthpop.ipu.ipu import household_weights

In [67]:
h_constraint.index = jd_households.cat_id

In [68]:
h_constraint

cat_id
0    46.529753
1    46.538428
2    27.835805
3    19.209650
4    23.634442
5    16.251921
dtype: float64

Besides the `categories dataframe` - our joint distributions table- we mentioned in `2.3`, there is a `sample dataframe` which is the public user microdata sample - our pums.

In [69]:
households_sample_df = h_pums.copy()

In [70]:
households_sample_df.head()

,serialno,RT,puma00,puma10,NP,TYPE,BLD,TEN,VEH,HINCP,MV,R18,R65,hh_cars,hh_children,cat_id
0,2012000000643,H,-9,400,2,1,2.0,3.0,0.0,33360.0,1.0,0.0,0.0,none,no,0
2,2012000001889,H,-9,400,4,1,2.0,2.0,0.0,89420.0,7.0,0.0,2.0,none,no,0
3,2012000003083,H,-9,400,1,1,2.0,2.0,0.0,20800.0,7.0,0.0,0.0,none,no,0
15,2012000017291,H,-9,400,4,1,2.0,2.0,0.0,54800.0,5.0,0.0,0.0,none,no,0
31,2012000041419,H,-9,400,2,1,2.0,2.0,0.0,33300.0,7.0,0.0,1.0,none,no,0

In [71]:
households_sample_df.index.name = "hh_id"

In [72]:
households_sample_df = households_sample_df.reset_index().set_index("serialno")

In [73]:
h_freq_table = cat._frequency_table(households_sample_df, jd_households.cat_id)

In [74]:
h_freq_table = h_freq_table.sort_index(axis=1)

In [75]:
h_freq_table.head()

cat_id    0    1    2    3    4    5
hh_id
0       1.0  0.0  0.0  0.0  0.0  0.0
2       1.0  0.0  0.0  0.0  0.0  0.0
3       1.0  0.0  0.0  0.0  0.0  0.0
4       0.0  1.0  0.0  0.0  0.0  0.0
5       0.0  0.0  0.0  1.0  0.0  0.0

In [107]:
best_weights, fit_quality, iterations = household_weights(h_freq_table,
                                                          None,
                                                          h_constraint,
                                                          None)

In [108]:
best_weights

hh_id
0       0.055195
2       0.055195
3       0.055195
4       0.050640
5       0.044570
          ...
5857    0.044570
5858    0.050640
5862    0.048135
5865    0.055195
5868    0.044570
Length: 3625, dtype: float64

In [109]:
fit_quality

1.636802750002612e-16

In [110]:
iterations

2

In [111]:
weights = np.ones(len(h_freq_table), dtype='float')
best_weights = weights.copy()

In [113]:
from synthpop.ipu.ipu import _FrequencyAndConstraints

In [116]:
freq_wrap = _FrequencyAndConstraints(h_freq_table, h_constraint)

This wrapper returns every `cat_id` column with non zero values:

* `0` represents households with no car and no children 
* `1` represents households with no car and children 
* `2` represents households with one car and no children
* `3` represents households with one car and children
* `4` represents households with two or more cars and no children
* `5` represents households with two or more cars and children

The wrapper returns each variables combination (from 0 to 5) with a weights matrix, the new target value we built in the `ipf` and the index of non zero columns:

In [121]:
# here the information for all the combinations
freq_wrap.iter_columns()

[(0,
  array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]),
  46.529753144154704,
  array([   0,    1,    2,    7,   16,   18,   20,   27,   32,   34,   38,
           41,   47,   58,   60,   74,   84,   86,   87,   88,   90,   95,
           97,   99,  106,  107,  108,  115,  116,  118,  121,  122,  130,
          131,  135,  138,  140,  159,  163,  165,  169,  175,  182,  190,
          192,  205,  207,  211,  212,  214,  215,  221,  223,  226,  227,
          228,  229,  232,  235,  240,  242,  256,  261,  268,  270,  279,
          280,  281,  282,  283,  285,  287,  291,  295,  297,  298,  299,
          300,  308,  309,  310,  311,  315,  320,  324,  331,  332,  336,
          338,  345,  356,  361,  363,  366,  367,  368,  372,  380,  383,
          388,  393,  400,  403,  406,  408,  418,  419,  430,  432,  433,
          434,  449,  450,  465,  466,  471,  472,  473,  483,  486,  499,
          504,  513,  514,  519,  537,  538,  540,  545,  546,  548,  552,
          553,  559,  565,  573,  579,  580,  583,  585,  589,  590,  597,
          598,  609,  613,  622,  624,  629,  632,  635,  636,  637,  638,
          641,  642,  646,  649,  650,  660,  661,  669,  672,  673,  684,
          687,  692,  697,  698,  706,  713,  716,  725,  727,  737,  738,
          739,  741,  747,  751,  754,  761,  762,  768,  797,  804,  805,
          809,  814,  815,  820,  822,  824,  825,  826,  837,  839,  840,
          842,  847,  855,  863,  866,  868,  872,  876,  887,  891,  901,
          905,  911,  916,  917,  923,  937,  939,  942,  945,  946,  952,
          960,  967,  969,  970,  973,  974,  975,  978,  984,  989,  990,
          993,  997,  999, 1000, 1005, 1006, 1009, 1011, 1015, 1021, 1022,
         1024, 1031, 1037, 1040, 1043, 1044, 1057, 1059, 1062, 1063, 1071,
         1072, 1073, 1079, 1083, 1090, 1093, 1094, 1096, 1097, 1101, 1106,
         1107, 1108, 1114, 1118, 1124, 1130, 1137, 1138, 1140, 1143, 1144,
         1161, 1171, 1175, 1178, 1180, 1186, 1187, 1188, 1192, 1196, 1197,
         1204, 1226, 1247, 1252, 1253, 1254, 1256, 1259, 1261, 1263, 1267,
         1271, 1279, 1285, 1292, 1295, 1302, 1305, 1308, 1317, 1319, 1321,
         1324, 1331, 1333, 1335, 1354, 1355, 1357, 1358, 1361, 1362, 1366,
         1367, 1373, 1382, 1395, 1396, 1397, 1406, 1407, 1408, 1409, 1415,
         1421, 1425, 1426, 1427, 1429, 1434, 1444, 1445, 1452, 1456, 1460,
         1461, 1466, 1474, 1480, 1481, 1482, 1490, 1491, 1493, 1501, 1509,
         1521, 1528, 1545, 1552, 1566, 1567, 1570, 1576, 1577, 1580, 1582,
         1594, 1603, 1605, 1618, 1619, 1627, 1628, 1643, 1645, 1650, 1653,
         1654, 1655, 1657, 1660, 1661, 1662, 1664, 1674, 1679, 1688, 1691,
         1692, 1701, 1704, 1705, 1709, 1710, 1711, 1712, 1713, 1715, 1729,
         1730, 1731, 1738, 1739, 1741, 1746, 1751, 1766, 1770, 1779, 1783,
         1785, 1787, 1800, 1802, 1811, 1816, 1820, 1821, 1824, 1829, 1833,
         1843, 1848, 1850, 1851, 1856, 1861, 1865, 1866, 1867, 1870, 1874,
         1875, 1878, 1883, 1887, 1890, 1891, 1893, 1897, 1903, 1904, 1905,
         1907, 1917, 1918, 1920, 1923, 1924, 1932, 1934, 1937, 1947, 1953,
         1957, 1958, 1962, 1965, 1971, 1972, 1975, 1976, 1979, 1980, 1998,
         2000, 2003, 2008, 2013, 2021, 2025, 2028, 2032, 2034, 2036, 2041,
         2048, 2049, 2056, 2061, 2064, 2068, 2070, 2076, 2080, 2086, 2090,
         2093, 2096, 2102, 2112, 2120, 2124, 2131, 2132, 2133, 2138, 2144,
         2146, 2159, 2165, 2167, 2173, 2174, 2183, 2184, 2189, 2198, 2200,
         2203, 2204, 2210, 2213, 2219, 2220, 2228, 2233, 2234, 2240, 2241,
         2251, 2252, 2255, 2260, 2264, 2265, 2267, 2273, 2280, 2283, 2284,
         2285, 2286, 2289, 2291, 2293, 2294, 2295, 2297, 2309, 2313, 2314,
         2317, 2321, 2331, 2335, 2344, 2350, 2352, 2364, 2369, 2370, 2371,
         2380, 2393, 2396, 2402, 2403, 2404, 2411, 2412, 2415, 2423, 2435,
         2445, 2447, 2450, 2453, 2466, 2469, 2476, 2481, 2491, 2495, 2507,
         2513, 2514, 2518, 2519, 2527, 2530, 2532, 2535, 2536, 2539, 2542,
         2545, 2546, 2547, 2559, 2562, 2565, 2577, 2579, 2584, 2588, 2593,
         2594, 2596, 2598, 2603, 2604, 2610, 2612, 2615, 2621, 2622, 2623,
         2631, 2638, 2642, 2646, 2647, 2654, 2659, 2660, 2661, 2662, 2667,
         2671, 2677, 2684, 2686, 2688, 2689, 2692, 2694, 2701, 2702, 2703,
         2705, 2706, 2712, 2714, 2715, 2717, 2719, 2724, 2728, 2729, 2735,
         2739, 2742, 2744, 2748, 2750, 2755, 2757, 2768, 2770, 2773, 2774,
         2776, 2777, 2778, 2779, 2780, 2785, 2790, 2791, 2792, 2802, 2803,
         2806, 2812, 2818, 2824, 2828, 2829, 2831, 2848, 2849, 2857, 2858,
         2861, 2864, 2872, 2874, 2877, 2882, 2884, 2885, 2890, 2898, 2900,
         2902, 2906, 2911, 2913, 2922, 2926, 2934, 2935, 2943, 2953, 2955,
         2964, 2967, 2969, 2972, 2973, 2981, 2983, 2984, 2985, 2988, 2990,
         2996, 2997, 3002, 3009, 3010, 3012, 3024, 3025, 3030, 3035, 3036,
         3043, 3045, 3047, 3052, 3053, 3055, 3062, 3069, 3072, 3077, 3079,
         3080, 3084, 3089, 3095, 3098, 3116, 3118, 3124, 3128, 3138, 3145,
         3148, 3166, 3168, 3173, 3174, 3178, 3185, 3193, 3205, 3208, 3214,
         3218, 3232, 3237, 3240, 3247, 3256, 3259, 3262, 3263, 3266, 3267,
         3270, 3273, 3287, 3294, 3296, 3301, 3302, 3311, 3316, 3320, 3336,
         3341, 3345, 3353, 3356, 3357, 3363, 3365, 3366, 3367, 3369, 3371,
         3376, 3377, 3380, 3390, 3391, 3393, 3397, 3399, 3401, 3404, 3406,
         3410, 3415, 3419, 3421, 3424, 3429, 3431, 3432, 3443, 3444, 3457,
         3458, 3459, 3462, 3466, 3468, 3470, 3471, 3472, 3473, 3478, 3488,
         3490, 3494, 3497, 3499, 3503, 3505, 3520, 3532, 3544, 3546, 3547,
         3548, 3550, 3551, 3556, 3557, 3562, 3567, 3570, 3576, 3578, 3581,
         3582, 3596, 3611, 3616, 3617, 3618, 3623])),
 (1,
  array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
         1.]),
  46.538428452649654,
  array([   3,    6,    8,    9,   21,   28,   29,   31,   33,   43,   48,
           52,   53,   55,   56,   57,   64,   69,   70,   73,   80,   83,
           93,   96,  101,  102,  103,  111,  114,  117,  120,  126,  127,
          128,  133,  134,  136,  137,  145,  148,  157,  160,  161,  164,
          170,  172,  173,  177,  183,  188,  189,  193,  198,  199,  201,
          202,  204,  206,  216,  230,  241,  247,  249,  255,  260,  265,
          267,  275,  276,  286,  289,  292,  296,  302,  304,  313,  318,
          323,  327,  334,  335,  340,  343,  351,  370,  373,  374,  381,
          386,  392,  398,  399,  404,  405,  407,  410,  412,  415,  420,
          424,  435,  437,  442,  443,  446,  451,  452,  454,  455,  460,
          462,  470,  474,  476,  479,  484,  485,  489,  490,  497,  502,
          503,  505,  508,  512,  516,  522,  530,  531,  532,  534,  539,
          542,  554,  563,  564,  581,  584,  586,  592,  595,  599,  600,
          604,  614,  619,  621,  630,  631,  633,  647,  648,  651,  653,
          654,  657,  659,  675,  676,  678,  685,  690,  695,  701,  702,
          704,  705,  707,  708,  709,  712,  714,  715,  720,  721,  728,
          731,  735,  736,  742,  743,  744,  746,  750,  756,  757,  758,
          759,  765,  773,  778,  779,  783,  786,  787,  791,  802,  806,
          808,  813,  817,  819,  821,  823,  829,  831,  833,  834,  838,
          846,  851,  853,  857,  859,  861,  867,  873,  878,  883,  888,
          890,  893,  894,  899,  907,  908,  910,  918,  922,  924,  925,
          927,  929,  930,  931,  932,  934,  941,  947,  950,  955,  965,
          968,  971,  976,  982,  995,  998, 1001, 1016, 1017, 1018, 1026,
         1030, 1032, 1035, 1036, 1046, 1060, 1066, 1067, 1070, 1075, 1077,
         1082, 1100, 1104, 1110, 1112, 1115, 1117, 1120, 1129, 1131, 1132,
         1133, 1135, 1139, 1147, 1148, 1151, 1152, 1157, 1160, 1165, 1169,
         1183, 1189, 1194, 1202, 1210, 1213, 1214, 1220, 1224, 1227, 1233,
         1238, 1243, 1244, 1249, 1258, 1275, 1277, 1280, 1282, 1283, 1284,
         1287, 1289, 1293, 1301, 1307, 1310, 1313, 1315, 1320, 1329, 1330,
         1337, 1338, 1340, 1344, 1346, 1352, 1356, 1364, 1365, 1372, 1379,
         1384, 1394, 1402, 1405, 1412, 1414, 1418, 1419, 1424, 1428, 1431,
         1436, 1440, 1446, 1453, 1454, 1464, 1468, 1469, 1471, 1473, 1475,
         1478, 1486, 1487, 1496, 1497, 1498, 1500, 1503, 1507, 1511, 1512,
         1513, 1518, 1520, 1524, 1531, 1532, 1535, 1539, 1540, 1542, 1543,
         1553, 1557, 1560, 1563, 1568, 1578, 1581, 1584, 1585, 1587, 1589,
         1590, 1591, 1595, 1599, 1601, 1604, 1606, 1610, 1614, 1615, 1616,
         1620, 1631, 1640, 1648, 1656, 1658, 1663, 1665, 1668, 1671, 1680,
         1685, 1687, 1690, 1702, 1706, 1707, 1725, 1726, 1728, 1733, 1734,
         1736, 1740, 1750, 1754, 1755, 1760, 1762, 1769, 1773, 1775, 1778,
         1780, 1781, 1782, 1784, 1788, 1789, 1791, 1794, 1797, 1798, 1806,
         1810, 1815, 1818, 1822, 1827, 1831, 1832, 1834, 1836, 1838, 1855,
         1857, 1858, 1859, 1860, 1862, 1863, 1864, 1869, 1876, 1880, 1886,
         1888, 1894, 1899, 1901, 1909, 1913, 1915, 1919, 1921, 1925, 1926,
         1929, 1936, 1938, 1940, 1941, 1943, 1952, 1955, 1956, 1960, 1963,
         1966, 1970, 1973, 1981, 1984, 1991, 1999, 2001, 2002, 2004, 2006,
         2009, 2012, 2015, 2016, 2017, 2022, 2027, 2031, 2035, 2038, 2039,
         2047, 2051, 2055, 2063, 2065, 2067, 2071, 2077, 2079, 2083, 2084,
         2088, 2092, 2104, 2114, 2115, 2117, 2118, 2126, 2134, 2139, 2140,
         2142, 2145, 2147, 2148, 2155, 2156, 2160, 2161, 2168, 2169, 2175,
         2177, 2178, 2186, 2188, 2190, 2191, 2199, 2201, 2221, 2224, 2226,
         2229, 2230, 2232, 2239, 2243, 2246, 2247, 2248, 2249, 2250, 2254,
         2259, 2266, 2269, 2270, 2274, 2275, 2282, 2292, 2300, 2301, 2302,
         2304, 2305, 2306, 2311, 2312, 2320, 2323, 2327, 2332, 2342, 2346,
         2354, 2357, 2358, 2360, 2362, 2363, 2366, 2367, 2368, 2373, 2374,
         2375, 2376, 2377, 2379, 2382, 2385, 2388, 2392, 2397, 2399, 2407,
         2409, 2417, 2418, 2419, 2420, 2421, 2424, 2430, 2432, 2439, 2441,
         2443, 2449, 2451, 2454, 2465, 2474, 2478, 2498, 2499, 2501, 2502,
         2503, 2506, 2521, 2528, 2529, 2533, 2537, 2543, 2551, 2553, 2554,
         2556, 2564, 2569, 2572, 2573, 2576, 2578, 2580, 2585, 2587, 2600,
         2602, 2607, 2608, 2609, 2619, 2620, 2624, 2625, 2626, 2628, 2639,
         2640, 2648, 2651, 2658, 2664, 2673, 2679, 2680, 2697, 2698, 2708,
         2710, 2713, 2718, 2723, 2730, 2731, 2732, 2733, 2736, 2738, 2740,
         2741, 2743, 2746, 2749, 2751, 2752, 2756, 2761, 2766, 2767, 2782,
         2786, 2788, 2795, 2798, 2799, 2804, 2807, 2809, 2813, 2816, 2817,
         2821, 2822, 2826, 2836, 2841, 2850, 2854, 2859, 2865, 2867, 2869,
         2871, 2873, 2879, 2889, 2892, 2895, 2896, 2903, 2907, 2908, 2914,
         2917, 2923, 2927, 2929, 2932, 2936, 2941, 2946, 2948, 2949, 2957,
         2959, 2962, 2965, 2970, 2975, 2976, 2978, 2979, 2989, 2995, 2998,
         3001, 3003, 3005, 3006, 3008, 3014, 3017, 3018, 3021, 3023, 3028,
         3029, 3031, 3032, 3033, 3034, 3037, 3042, 3046, 3048, 3051, 3057,
         3063, 3066, 3074, 3081, 3083, 3085, 3103, 3106, 3113, 3114, 3121,
         3122, 3125, 3129, 3132, 3134, 3137, 3139, 3146, 3147, 3153, 3158,
         3160, 3169, 3171, 3172, 3177, 3179, 3188, 3189, 3190, 3192, 3199,
         3201, 3209, 3220, 3226, 3233, 3238, 3239, 3241, 3242, 3245, 3246,
         3249, 3250, 3251, 3252, 3253, 3254, 3260, 3261, 3264, 3265, 3268,
         3275, 3282, 3288, 3290, 3292, 3298, 3303, 3312, 3315, 3319, 3326,
         3328, 3330, 3339, 3347, 3351, 3360, 3361, 3373, 3375, 3379, 3381,
         3382, 3386, 3392, 3396, 3398, 3412, 3413, 3418, 3423, 3425, 3426,
         3430, 3433, 3434, 3436, 3442, 3447, 3452, 3456, 3461, 3465, 3474,
         3477, 3480, 3481, 3482, 3483, 3489, 3496, 3501, 3502, 3504, 3506,
         3510, 3514, 3517, 3518, 3519, 3524, 3527, 3530, 3533, 3534, 3536,
         3537, 3538, 3540, 3541, 3545, 3549, 3552, 3553, 3559, 3563, 3565,

In [133]:
# and here, we can see for category "0" that non zero values are...
freq_wrap.get_column(0)

(0,
 array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 46.529753144154704,
 array([   0,    1,    2,    7,   16,   18,   20,   27,   32,   34,   38,
          41,   47,   58,   60,   74,   84,   86,   87,   88,   90,   95,
          97,   99,  106,  107,  108,  115,  116,  118,  121,  122,  130,
         131,  135,  138,  140,  159,  163,  165,  169,  175,  182,  190,
         192,  205,  207,  211,  212,  214,  215,  221,  223,  226,  227,
         228,  229,  232,  235,  240,  242,  256,  261,  268,  270,  279,
         280,  281,  282,  283,  285,  287,  291,  295,  297,  298,  299,
         300,  308,  309,  310,  311,  315,  320,  324,  331,  332,  336,
         338,  345,  356,  361,  363,  366,  367,  368,  372,  380,  383,
         388,  393,  400,  403,  406,  408,  418,  419,  430,  432,  433,
         434,  449,  450,  465,  466,  471,  472,  473,  483,  486,  499,
         504,  513,  514,  519,  537,  538,  540,  545,  546,  548,  552,
         553,  559,  565,  573,  579,  580,  583,  585,  589,  590,  597,
         598,  609,  613,  622,  624,  629,  632,  635,  636,  637,  638,
         641,  642,  646,  649,  650,  660,  661,  669,  672,  673,  684,
         687,  692,  697,  698,  706,  713,  716,  725,  727,  737,  738,
         739,  741,  747,  751,  754,  761,  762,  768,  797,  804,  805,
         809,  814,  815,  820,  822,  824,  825,  826,  837,  839,  840,
         842,  847,  855,  863,  866,  868,  872,  876,  887,  891,  901,
         905,  911,  916,  917,  923,  937,  939,  942,  945,  946,  952,
         960,  967,  969,  970,  973,  974,  975,  978,  984,  989,  990,
         993,  997,  999, 1000, 1005, 1006, 1009, 1011, 1015, 1021, 1022,
        1024, 1031, 1037, 1040, 1043, 1044, 1057, 1059, 1062, 1063, 1071,
        1072, 1073, 1079, 1083, 1090, 1093, 1094, 1096, 1097, 1101, 1106,
        1107, 1108, 1114, 1118, 1124, 1130, 1137, 1138, 1140, 1143, 1144,
        1161, 1171, 1175, 1178, 1180, 1186, 1187, 1188, 1192, 1196, 1197,
        1204, 1226, 1247, 1252, 1253, 1254, 1256, 1259, 1261, 1263, 1267,
        1271, 1279, 1285, 1292, 1295, 1302, 1305, 1308, 1317, 1319, 1321,
        1324, 1331, 1333, 1335, 1354, 1355, 1357, 1358, 1361, 1362, 1366,
        1367, 1373, 1382, 1395, 1396, 1397, 1406, 1407, 1408, 1409, 1415,
        1421, 1425, 1426, 1427, 1429, 1434, 1444, 1445, 1452, 1456, 1460,
        1461, 1466, 1474, 1480, 1481, 1482, 1490, 1491, 1493, 1501, 1509,
        1521, 1528, 1545, 1552, 1566, 1567, 1570, 1576, 1577, 1580, 1582,
        1594, 1603, 1605, 1618, 1619, 1627, 1628, 1643, 1645, 1650, 1653,
        1654, 1655, 1657, 1660, 1661, 1662, 1664, 1674, 1679, 1688, 1691,
        1692, 1701, 1704, 1705, 1709, 1710, 1711, 1712, 1713, 1715, 1729,
        1730, 1731, 1738, 1739, 1741, 1746, 1751, 1766, 1770, 1779, 1783,
        1785, 1787, 1800, 1802, 1811, 1816, 1820, 1821, 1824, 1829, 1833,
        1843, 1848, 1850, 1851, 1856, 1861, 1865, 1866, 1867, 1870, 1874,
        1875, 1878, 1883, 1887, 1890, 1891, 1893, 1897, 1903, 1904, 1905,
        1907, 1917, 1918, 1920, 1923, 1924, 1932, 1934, 1937, 1947, 1953,
        1957, 1958, 1962, 1965, 1971, 1972, 1975, 1976, 1979, 1980, 1998,
        2000, 2003, 2008, 2013, 2021, 2025, 2028, 2032, 2034, 2036, 2041,
        2048, 2049, 2056, 2061, 2064, 2068, 2070, 2076, 2080, 2086, 2090,
        2093, 2096, 2102, 2112, 2120, 2124, 2131, 2132, 2133, 2138, 2144,
        2146, 2159, 2165, 2167, 2173, 2174, 2183, 2184, 2189, 2198, 2200,
        2203, 2204, 2210, 2213, 2219, 2220, 2228, 2233, 2234, 2240, 2241,
        2251, 2252, 2255, 2260, 2264, 2265, 2267, 2273, 2280, 2283, 2284,
        2285, 2286, 2289, 2291, 2293, 2294, 2295, 2297, 2309, 2313, 2314,
        2317, 2321, 2331, 2335, 2344, 2350, 2352, 2364, 2369, 2370, 2371,
        2380, 2393, 2396, 2402, 2403, 2404, 2411, 2412, 2415, 2423, 2435,
        2445, 2447, 2450, 2453, 2466, 2469, 2476, 2481, 2491, 2495, 2507,
        2513, 2514, 2518, 2519, 2527, 2530, 2532, 2535, 2536, 2539, 2542,
        2545, 2546, 2547, 2559, 2562, 2565, 2577, 2579, 2584, 2588, 2593,
        2594, 2596, 2598, 2603, 2604, 2610, 2612, 2615, 2621, 2622, 2623,
        2631, 2638, 2642, 2646, 2647, 2654, 2659, 2660, 2661, 2662, 2667,
        2671, 2677, 2684, 2686, 2688, 2689, 2692, 2694, 2701, 2702, 2703,
        2705, 2706, 2712, 2714, 2715, 2717, 2719, 2724, 2728, 2729, 2735,
        2739, 2742, 2744, 2748, 2750, 2755, 2757, 2768, 2770, 2773, 2774,
        2776, 2777, 2778, 2779, 2780, 2785, 2790, 2791, 2792, 2802, 2803,
        2806, 2812, 2818, 2824, 2828, 2829, 2831, 2848, 2849, 2857, 2858,
        2861, 2864, 2872, 2874, 2877, 2882, 2884, 2885, 2890, 2898, 2900,
        2902, 2906, 2911, 2913, 2922, 2926, 2934, 2935, 2943, 2953, 2955,
        2964, 2967, 2969, 2972, 2973, 2981, 2983, 2984, 2985, 2988, 2990,
        2996, 2997, 3002, 3009, 3010, 3012, 3024, 3025, 3030, 3035, 3036,
        3043, 3045, 3047, 3052, 3053, 3055, 3062, 3069, 3072, 3077, 3079,
        3080, 3084, 3089, 3095, 3098, 3116, 3118, 3124, 3128, 3138, 3145,
        3148, 3166, 3168, 3173, 3174, 3178, 3185, 3193, 3205, 3208, 3214,
        3218, 3232, 3237, 3240, 3247, 3256, 3259, 3262, 3263, 3266, 3267,
        3270, 3273, 3287, 3294, 3296, 3301, 3302, 3311, 3316, 3320, 3336,
        3341, 3345, 3353, 3356, 3357, 3363, 3365, 3366, 3367, 3369, 3371,
        3376, 3377, 3380, 3390, 3391, 3393, 3397, 3399, 3401, 3404, 3406,
        3410, 3415, 3419, 3421, 3424, 3429, 3431, 3432, 3443, 3444, 3457,
        3458, 3459, 3462, 3466, 3468, 3470, 3471, 3472, 3473, 3478, 3488,
        3490, 3494, 3497, 3499, 3503, 3505, 3520, 3532, 3544, 3546, 3547,
        3548, 3550, 3551, 3556, 3557, 3562, 3567, 3570, 3576, 3578, 3581,
        3582, 3596, 3611, 3616, 3617, 3618, 3623]))

In [135]:
#... in the index 0, 1, 2, 7, (...)
h_freq_table[0][0:8]

hh_id
0     1.0
2     1.0
3     1.0
4     0.0
5     0.0
13    0.0
14    0.0
15    1.0
Name: 0, dtype: float64

In [93]:
def _drop_zeros(df):
    """
    Drop zeros from a DataFrame, returning an iterator over the columns
    in the DataFrame.

    Yields tuples of (column name, non-zero column values, non-zero indexes).

    Parameters
    ----------
    df : pandas.DataFrame

    """
    def for_each_col(col):
        nz = col.nonzero()[0]
        return col[nz], nz

    for (col_idx, (col, nz)) in df.apply(for_each_col, axis=0, raw=True).items():
        return (col_idx, col, nz)

In [94]:
df = h_freq_table.copy()

In [95]:
def for_each_col(col):
        nz = col.nonzero()[0]
        return col[nz], nz

In [102]:
for (col_idx, (col, nz)) in df.apply(for_each_col, axis=0, raw=True).items():
        d = (col_idx, col, nz)

In [136]:
d

(5,
 array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 array([  12,   14,   15,   35,   45,   49,   51,   63,   65,   68,   79,
         105,  139,  141,  147,  150,  153,  154,  178,  217,  219,  231,
         236,  238,  254,  264,  274,  277,  288,  301,  306,  326,  328,
         329,  346,  355,  358,  364,  365,  371,  375,  378,  379,  384,
         389,  390,  391,  396,  411,  427,  431,  444,  477,  481,  491,
         517,  543,  544,  555,  588,  594,  608,  616,  628,  639,  643,
         662,  671,  682,  703,  752,  775,  782,  784,  788,  793,  798,
         811,  827,  828,  845,  864,  869,  898,  913,  921,  938,  949,
         953,  962,  966,  972,  977,  987,  996, 1003, 1004, 1008, 1019,
        1023, 1038, 1042, 1049, 1068, 1069, 1074, 1076, 1078, 1089, 1102,
        1105, 1128, 1153, 1155, 1162, 1179, 1182, 1198, 1211, 1212, 1217,
        1218, 1225, 1231, 1232, 1241, 1245, 1257, 1262, 1269, 1270, 1281,
        1286, 1294, 1297, 1309, 1312, 1323, 1327, 1339, 1341, 1360, 1378,
        1383, 1388, 1389, 1400, 1401, 1413, 1416, 1450, 1455, 1463, 1477,
        1484, 1494, 1495, 1505, 1506, 1522, 1534, 1544, 1549, 1550, 1554,
        1569, 1572, 1588, 1598, 1613, 1622, 1626, 1630, 1644, 1666, 1669,
        1686, 1708, 1724, 1727, 1737, 1743, 1749, 1771, 1793, 1799, 1801,
        1803, 1808, 1814, 1817, 1835, 1853, 1868, 1872, 1895, 1896, 1912,
        1914, 1916, 1922, 1931, 1933, 1946, 1974, 1992, 2005, 2033, 2052,
        2053, 2062, 2069, 2073, 2074, 2089, 2091, 2094, 2103, 2113, 2116,
        2122, 2127, 2135, 2149, 2154, 2162, 2164, 2166, 2180, 2181, 2182,
        2209, 2211, 2245, 2253, 2257, 2268, 2271, 2288, 2290, 2296, 2316,
        2334, 2337, 2338, 2339, 2341, 2347, 2349, 2351, 2355, 2356, 2405,
        2413, 2422, 2428, 2438, 2440, 2448, 2455, 2464, 2473, 2479, 2482,
        2490, 2509, 2517, 2531, 2550, 2555, 2558, 2574, 2575, 2583, 2589,
        2591, 2597, 2611, 2614, 2618, 2627, 2633, 2636, 2643, 2682, 2700,
        2704, 2707, 2716, 2721, 2726, 2754, 2764, 2765, 2793, 2794, 2805,
        2814, 2835, 2852, 2855, 2856, 2862, 2866, 2878, 2891, 2909, 2918,
        2920, 2924, 2974, 2982, 2993, 3011, 3020, 3022, 3040, 3041, 3044,
        3054, 3056, 3091, 3101, 3107, 3108, 3111, 3142, 3151, 3156, 3203,
        3206, 3213, 3217, 3231, 3269, 3309, 3313, 3331, 3332, 3335, 3342,
        3349, 3359, 3374, 3389, 3400, 3403, 3445, 3453, 3460, 3467, 3492,
        3498, 3500, 3515, 3521, 3525, 3526, 3529, 3543, 3568, 3571, 3585,
        3588, 3589, 3591, 3594, 3604]))

In [141]:
h_freq_table[5][:15]

hh_id
0     0.0
2     0.0
3     0.0
4     0.0
5     0.0
13    0.0
14    0.0
15    0.0
17    0.0
18    0.0
19    0.0
23    0.0
24    1.0
25    0.0
26    1.0
Name: 5, dtype: float64

In [104]:
d

(5,
 array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 array([  12,   14,   15,   35,   45,   49,   51,   63,   65,   68,   79,
         105,  139,  141,  147,  150,  153,  154,  178,  217,  219,  231,
         236,  238,  254,  264,  274,  277,  288,  301,  306,  326,  328,
         329,  346,  355,  358,  364,  365,  371,  375,  378,  379,  384,
         389,  390,  391,  396,  411,  427,  431,  444,  477,  481,  491,
         517,  543,  544,  555,  588,  594,  608,  616,  628,  639,  643,
         662,  671,  682,  703,  752,  775,  782,  784,  788,  793,  798,
         811,  827,  828,  845,  864,  869,  898,  913,  921,  938,  949,
         953,  962,  966,  972,  977,  987,  996, 1003, 1004, 1008, 1019,
        1023, 1038, 1042, 1049, 1068, 1069, 1074, 1076, 1078, 1089, 1102,
        1105, 1128, 1153, 1155, 1162, 1179, 1182, 1198, 1211, 1212, 1217,
        1218, 1225, 1231, 1232, 1241, 1245, 1257, 1262, 1269, 1270, 1281,
        1286, 1294, 1297, 1309, 1312, 1323, 1327, 1339, 1341, 1360, 1378,
        1383, 1388, 1389, 1400, 1401, 1413, 1416, 1450, 1455, 1463, 1477,
        1484, 1494, 1495, 1505, 1506, 1522, 1534, 1544, 1549, 1550, 1554,
        1569, 1572, 1588, 1598, 1613, 1622, 1626, 1630, 1644, 1666, 1669,
        1686, 1708, 1724, 1727, 1737, 1743, 1749, 1771, 1793, 1799, 1801,
        1803, 1808, 1814, 1817, 1835, 1853, 1868, 1872, 1895, 1896, 1912,
        1914, 1916, 1922, 1931, 1933, 1946, 1974, 1992, 2005, 2033, 2052,
        2053, 2062, 2069, 2073, 2074, 2089, 2091, 2094, 2103, 2113, 2116,
        2122, 2127, 2135, 2149, 2154, 2162, 2164, 2166, 2180, 2181, 2182,
        2209, 2211, 2245, 2253, 2257, 2268, 2271, 2288, 2290, 2296, 2316,
        2334, 2337, 2338, 2339, 2341, 2347, 2349, 2351, 2355, 2356, 2405,
        2413, 2422, 2428, 2438, 2440, 2448, 2455, 2464, 2473, 2479, 2482,
        2490, 2509, 2517, 2531, 2550, 2555, 2558, 2574, 2575, 2583, 2589,
        2591, 2597, 2611, 2614, 2618, 2627, 2633, 2636, 2643, 2682, 2700,
        2704, 2707, 2716, 2721, 2726, 2754, 2764, 2765, 2793, 2794, 2805,
        2814, 2835, 2852, 2855, 2856, 2862, 2866, 2878, 2891, 2909, 2918,
        2920, 2924, 2974, 2982, 2993, 3011, 3020, 3022, 3040, 3041, 3044,
        3054, 3056, 3091, 3101, 3107, 3108, 3111, 3142, 3151, 3156, 3203,
        3206, 3213, 3217, 3231, 3269, 3309, 3313, 3331, 3332, 3335, 3342,
        3349, 3359, 3374, 3389, 3400, 3403, 3445, 3453, 3460, 3467, 3492,
        3498, 3500, 3515, 3521, 3525, 3526, 3529, 3543, 3568, 3571, 3585,
        3588, 3589, 3591, 3594, 3604]))